*, *::after, *::before{
    margin: 0px;
    box-sizing: border-box;
    min-width: auto;
    min-height: auto;
    
    
    
}

#a_main{
    font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    color: #202122;
}


/*Header top items*/

#blue_line_top{
    background-color: #096abc;
    height: 3px;
}

div i{
    font-size: 25px;
}
#nav_top_items i:hover{
    color: #096abc;
    border-top: #014b87;
}

#nav_logo > img{
    height: 30px;
}

#nav_top_items>img {
    height: 35px;
    border-radius: 20%;
}



#nav_top, #nav_top_items{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 40px;

}

#nav_top > #nav_top_items{
    align-self: center;
    gap: 20px;
}



/*Nav botton items*/

#nav_article{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#nav_article > i{
    font-size: 10px;
}

#nav_bottom {
    background-color: #014b87;
    font-size: 20px;
    color: #ffffff;
    padding: 20px 0px 20px 00px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#nav_bottom > #nav_article >p:hover{
    text-decoration: underline;
}


    


/*Search Bar line*/

#title>p{
    font-size: 38px;
    text-align: center;
    margin-top: 20px;
}

#search{
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-left: 104px;
}
#search p{
    font-size: 16px;
    font-weight: bold;
    
}


/*Cards*/
#cards_space{
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(212px,.1fr)) ;
    gap: 20px;
    justify-content: center;
}

.card{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    width: 212px;
    min-height: 212px;
    border-radius: 3%;
    height: fit-content;
    margin: auto;
    padding: 10px;
    text-align: center;
    transition: all 400ms ease;


    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.card:hover{
    transform: scale(1.01, 1.01);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.card > img{
    width: 60px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.card > #name_profesion > h4{
    font-size: 15px;
}

.card >#name_profesion>p{
    font-size: 12px;
    color: #46505b;
}

.card>#button{
    width: 75px;
    height: 25px;
    background-color: #0e70bd;
    border-radius: 5%;
    color: #ffffff;
    font-size: 13px;
    transition: all 400ms ease;
    
    display: flex;
    justify-content: center;
    padding-top: 3px;

}

.card>#button:hover{
    background-color: #0e71bdcc;
}

.card>#button>a{
    text-decoration: none;
    color: #ffffff;

}

.card>#links{
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.card>#links>a{
    color: #46505b;
    transition: all 400ms ease;
    
}





/*footer*/
footer>#links{

    background-color: #d6d6d6;
    height: 100px;
    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 13px;
    
}

#links>a>i{
    color: #46505b;
    transition: all 400ms ease;
}


/*icons hover effect*/

#links>a>i:hover{
    color: #46505bd5;
}
    




